*{
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center{text-align: center;}
.thin{font-weight: 200;}
.container{
    width:80%;
    margin:auto;
}

/* FLEX BOX RESPONSIVE */
.frow-lg{
    display:flex;
    flex-direction: column;
}
.frow-md{
    display:flex;
    flex-direction: column;
}
.frow-sm{
    display:flex;
    flex-direction: column;
}
.frow-xs{
    display:flex;
    flex-direction: row;
}

/* f-xs is independent of screen width */
.f-xs-1{flex:1;}
.f-xs-2{flex:2;}
.f-xs-3{flex:3;}
.f-xs-4{flex:4;}
.f-xs-5{flex:5;}
.f-xs-6{flex:6;}

/* f-sm */
@media only screen and (min-width: 576px){
    .frow-sm{
        flex-direction: row;
    }
    .f-sm-1{flex:1;}
    .f-sm-2{flex:2;}
    .f-sm-3{flex:3;}
    .f-sm-4{flex:4;}
    .f-sm-5{flex:5;}
    .f-sm-6{flex:6;}
}

/* f-md */
@media only screen and (min-width: 768px){
    .frow-md{
        flex-direction: row;
    }
    .f-md-1{flex:1;}
    .f-md-2{flex:2;}
    .f-md-3{flex:3;}
    .f-md-4{flex:4;}
    .f-md-5{flex:5;}
    .f-md-6{flex:6;}
}

/* f-lg */
@media only screen and (min-width: 992px){
    .frow-lg{
        flex-direction: row;
    }
    .f-lg-1{flex:1;}
    .f-lg-2{flex:2;}
    .f-lg-3{flex:3;}
    .f-lg-4{flex:4;}
    .f-lg-5{flex:5;}
    .f-lg-6{flex:6;}
}

/* CSS GRID RESPONSIVE */
.bgrid{
    display: grid;
}

/* bgrid-xs is independent of screen width */
.bgrid-xs-1{grid-template-columns: repeat(1, 1fr);}
.bgrid-xs-2{grid-template-columns: repeat(2, 1fr);}
.bgrid-xs-3{grid-template-columns: repeat(3, 1fr);}
.bgrid-xs-4{grid-template-columns: repeat(4, 1fr);}
.bgrid-xs-5{grid-template-columns: repeat(5, 1fr);}
.bgrid-xs-6{grid-template-columns: repeat(6, 1fr);}
.bgrid-xs-7{grid-template-columns: repeat(7, 1fr);}
.bgrid-xs-8{grid-template-columns: repeat(8, 1fr);}
.bgrid-xs-9{grid-template-columns: repeat(9, 1fr);}
.bgrid-xs-10{grid-template-columns: repeat(10, 1fr);}
.bgrid-xs-11{grid-template-columns: repeat(11, 1fr);}
.bgrid-xs-12{grid-template-columns: repeat(12, 1fr);}
.w-xs-1{grid-column: span 1;}
.w-xs-2{grid-column: span 2;}
.w-xs-3{grid-column: span 3;}
.w-xs-4{grid-column: span 4;}
.w-xs-5{grid-column: span 5;}
.w-xs-6{grid-column: span 6;}
.w-xs-7{grid-column: span 7;}
.w-xs-8{grid-column: span 8;}
.w-xs-9{grid-column: span 9;}
.w-xs-10{grid-column: span 10;}
.w-xs-11{grid-column: span 11;}
.w-xs-12{grid-column: span 12;}

.h-xs-1{grid-row: span 1;}
.h-xs-2{grid-row: span 2;}
.h-xs-3{grid-row: span 3;}
.h-xs-4{grid-row: span 4;}
.h-xs-5{grid-row: span 5;}
.h-xs-6{grid-row: span 6;}
.h-xs-7{grid-row: span 7;}
.h-xs-8{grid-row: span 8;}
.h-xs-9{grid-row: span 9;}
.h-xs-10{grid-row: span 10;}
.h-xs-11{grid-row: span 11;}
.h-xs-12{grid-row: span 12;}

@media only screen and (min-width: 576px){
    .bgrid-sm-1{grid-template-columns: repeat(1, 1fr);}
    .bgrid-sm-2{grid-template-columns: repeat(2, 1fr);}
    .bgrid-sm-3{grid-template-columns: repeat(3, 1fr);}
    .bgrid-sm-4{grid-template-columns: repeat(4, 1fr);}
    .bgrid-sm-5{grid-template-columns: repeat(5, 1fr);}
    .bgrid-sm-6{grid-template-columns: repeat(6, 1fr);}
    .bgrid-sm-7{grid-template-columns: repeat(7, 1fr);}
    .bgrid-sm-8{grid-template-columns: repeat(8, 1fr);}
    .bgrid-sm-9{grid-template-columns: repeat(9, 1fr);}
    .bgrid-sm-10{grid-template-columns: repeat(10, 1fr);}
    .bgrid-sm-11{grid-template-columns: repeat(11, 1fr);}
    .bgrid-sm-12{grid-template-columns: repeat(12, 1fr);}
    .w-sm-1{grid-column: span 1;}
    .w-sm-2{grid-column: span 2;}
    .w-sm-3{grid-column: span 3;}
    .w-sm-4{grid-column: span 4;}
    .w-sm-5{grid-column: span 5;}
    .w-sm-6{grid-column: span 6;}
    .w-sm-7{grid-column: span 7;}
    .w-sm-8{grid-column: span 8;}
    .w-sm-9{grid-column: span 9;}
    .w-sm-10{grid-column: span 10;}
    .w-sm-11{grid-column: span 11;}
    .w-sm-12{grid-column: span 12;}
    
    .h-sm-1{grid-row: span 1;}
    .h-sm-2{grid-row: span 2;}
    .h-sm-3{grid-row: span 3;}
    .h-sm-4{grid-row: span 4;}
    .h-sm-5{grid-row: span 5;}
    .h-sm-6{grid-row: span 6;}
    .h-sm-7{grid-row: span 7;}
    .h-sm-8{grid-row: span 8;}
    .h-sm-9{grid-row: span 9;}
    .h-sm-10{grid-row: span 10;}
    .h-sm-11{grid-row: span 11;}
    .h-sm-12{grid-row: span 12;}
    
}

@media only screen and (min-width: 768px){
    .bgrid-md-1{grid-template-columns: repeat(1, 1fr);}
    .bgrid-md-2{grid-template-columns: repeat(2, 1fr);}
    .bgrid-md-3{grid-template-columns: repeat(3, 1fr);}
    .bgrid-md-4{grid-template-columns: repeat(4, 1fr);}
    .bgrid-md-5{grid-template-columns: repeat(5, 1fr);}
    .bgrid-md-6{grid-template-columns: repeat(6, 1fr);}
    .bgrid-md-7{grid-template-columns: repeat(7, 1fr);}
    .bgrid-md-8{grid-template-columns: repeat(8, 1fr);}
    .bgrid-md-9{grid-template-columns: repeat(9, 1fr);}
    .bgrid-md-10{grid-template-columns: repeat(10, 1fr);}
    .bgrid-md-11{grid-template-columns: repeat(11, 1fr);}
    .bgrid-md-12{grid-template-columns: repeat(12, 1fr);}
    .w-md-1{grid-column: span 1;}
    .w-md-2{grid-column: span 2;}
    .w-md-3{grid-column: span 3;}
    .w-md-4{grid-column: span 4;}
    .w-md-5{grid-column: span 5;}
    .w-md-6{grid-column: span 6;}
    .w-md-7{grid-column: span 7;}
    .w-md-8{grid-column: span 8;}
    .w-md-9{grid-column: span 9;}
    .w-md-10{grid-column: span 10;}
    .w-md-11{grid-column: span 11;}
    .w-md-12{grid-column: span 12;}
    
    .h-md-1{grid-row: span 1;}
    .h-md-2{grid-row: span 2;}
    .h-md-3{grid-row: span 3;}
    .h-md-4{grid-row: span 4;}
    .h-md-5{grid-row: span 5;}
    .h-md-6{grid-row: span 6;}
    .h-md-7{grid-row: span 7;}
    .h-md-8{grid-row: span 8;}
    .h-md-9{grid-row: span 9;}
    .h-md-10{grid-row: span 10;}
    .h-md-11{grid-row: span 11;}
    .h-md-12{grid-row: span 12;}    
}

@media only screen and (min-width: 992px){
    .bgrid-lg-1{grid-template-columns: repeat(1, 1fr);}
    .bgrid-lg-2{grid-template-columns: repeat(2, 1fr);}
    .bgrid-lg-3{grid-template-columns: repeat(3, 1fr);}
    .bgrid-lg-4{grid-template-columns: repeat(4, 1fr);}
    .bgrid-lg-5{grid-template-columns: repeat(5, 1fr);}
    .bgrid-lg-6{grid-template-columns: repeat(6, 1fr);}
    .bgrid-lg-7{grid-template-columns: repeat(7, 1fr);}
    .bgrid-lg-8{grid-template-columns: repeat(8, 1fr);}
    .bgrid-lg-9{grid-template-columns: repeat(9, 1fr);}
    .bgrid-lg-10{grid-template-columns: repeat(10, 1fr);}
    .bgrid-lg-11{grid-template-columns: repeat(11, 1fr);}
    .bgrid-lg-12{grid-template-columns: repeat(12, 1fr);}
    .w-lg-1{grid-column: span 1;}
    .w-lg-2{grid-column: span 2;}
    .w-lg-3{grid-column: span 3;}
    .w-lg-4{grid-column: span 4;}
    .w-lg-5{grid-column: span 5;}
    .w-lg-6{grid-column: span 6;}
    .w-lg-7{grid-column: span 7;}
    .w-lg-8{grid-column: span 8;}
    .w-lg-9{grid-column: span 9;}
    .w-lg-10{grid-column: span 10;}
    .w-lg-11{grid-column: span 11;}
    .w-lg-12{grid-column: span 12;}
    
    .h-lg-1{grid-row: span 1;}
    .h-lg-2{grid-row: span 2;}
    .h-lg-3{grid-row: span 3;}
    .h-lg-4{grid-row: span 4;}
    .h-lg-5{grid-row: span 5;}
    .h-lg-6{grid-row: span 6;}
    .h-lg-7{grid-row: span 7;}
    .h-lg-8{grid-row: span 8;}
    .h-lg-9{grid-row: span 9;}
    .h-lg-10{grid-row: span 10;}
    .h-lg-11{grid-row: span 11;}
    .h-lg-12{grid-row: span 12;}    
}

/* 

COLOURS

*/
.bg-sky{background-color: #5DADE2;}
.bg-azure{background-color: #0080FF;}
.bg-steel{background-color: #707B7C;}
.bg-cash{background-color: #2ECC71;}
.bg-ruby{background-color: #C0392B;}
.bg-amber{background-color: #F4D03F;}
.bg-saphire{background-color: #1ABC9C;}
.bg-cloud{background-color: #F2F3F4;}
.bg-shadow{background-color: #212F3D;}
.bg-white{background-color: #ffffff;}
.bg-black{background-color: #000000;}

.text-sky{color: #5DADE2;}
.text-azure{color: #0080FF;}
.text-steel{color: #707B7C;}
.text-cash{color: #2ECC71;}
.text-ruby{color: #C0392B;}
.text-amber{color: #F4D03F;}
.text-saphire{color: #1ABC9C;}
.text-cloud{color: #F2F3F4;}
.text-shadow{color: #212F3D;}
.text-white{color: #ffffff;}
.text-black{color: #000000;}

.bbtn{
  padding: 10px 20px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  border-width: 1px;
  text-decoration: none; 
  font-size: 16px;
}
bbtn-lg{
    font-size: 22px;
}
bbtn-sm{
    font-size: 10px;
}

/* sky */
.bbtn-sky {
    color: white;
    background-color: #5DADE2;
}

.bbtn-outline-sky {
    color: #5DADE2;
    border-color: #5DADE2;
    background-color: white;
}

.bbtn-outline-sky:hover {
    color: white;
    background-color: #5DADE2;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* azure */
.bbtn-azure {
    color: white;
    background-color: #0080FF;
}

.bbtn-outline-azure {
    color: #0080FF;
    border-color: #0080FF;
    background-color: white;
}

.bbtn-outline-azure:hover {
    color: white;
    background-color: #0080FF;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* steel */
.bbtn-steel {
    color: white;
    background-color: #707B7C;
}

.bbtn-outline-steel {
    color: #707B7C;
    border-color: #707B7C;
    background-color: white;
}

.bbtn-outline-steel:hover {
    color: white;
    background-color: #707B7C;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* cash */
.bbtn-cash {
    color: white;
    background-color: #2ECC71;
}

.bbtn-outline-cash {
    color: #2ECC71;
    border-color: #2ECC71;
    background-color: white;
}

.bbtn-outline-cash:hover {
    color: white;
    background-color: #2ECC71;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* ruby */
.bbtn-ruby {
    color: white;
    background-color: #C0392B;
}

.bbtn-outline-ruby {
    color: #C0392B;
    border-color: #C0392B;
    background-color: white;
}

.bbtn-outline-ruby:hover {
    color: white;
    background-color: #C0392B;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* amber */
.bbtn-amber {
    color: white;
    background-color: #F4D03F;
}

.bbtn-outline-amber {
    color: #F4D03F;
    border-color: #F4D03F;
    background-color: white;
}

.bbtn-outline-amber:hover {
    color: white;
    background-color: #F4D03F;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* saphire */
.bbtn-saphire {
    color: white;
    background-color: #1ABC9C;
}

.bbtn-outline-saphire {
    color: #1ABC9C;
    border-color: #1ABC9C;
    background-color: white;
}

.bbtn-outline-saphire:hover {
    color: white;
    background-color: #1ABC9C;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* cloud */
.bbtn-cloud {
    color: black;
    background-color: #F2F3F4;
}

.bbtn-outline-cloud {
    color: #F2F3F4;
    border-color: #F2F3F4;
    background-color: white;
}

.bbtn-outline-cloud:hover {
    color: black;
    background-color: #F2F3F4;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* shadow */
.bbtn-shadow {
    color: white;
    background-color: #212F3D;
}

.bbtn-outline-shadow {
    color: #212F3D;
    border-color: #212F3D;
    background-color: white;
}

.bbtn-outline-shadow:hover {
    color: white;
    background-color: #212F3D;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* white */
.bbtn-white {
    color: black;
    background-color: white;
}

.bbtn-outline-white {
    color: white;
    border-color: white;
    background-color: black;
}

.bbtn-outline-white:hover {
    color: black;
    background-color: white;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}

/* black */
.bbtn-black {
    color: white;
    background-color: black;
}

.bbtn-outline-black {
    color: black;
    border-color: black;
    background-color: white;
}

.bbtn-outline-black:hover {
    color: white;
    background-color: black;
    border-color: rgba(0, 0, 0, 0);
    transition-duration: 200ms;
}